<div class='splash_general'>
  
    <%= image_tag ("/assets/MoonApp.png"), class: "My_logo"%>
  
  <div class="entrance_buttons">
   <button class="my_login"><%= link_to 'LOG IN', new_user_session_path, class: 'enter_btn_name' %></button>
   <button class="my_login"><%= link_to 'SIGN UP', new_user_registration_path, class: 'enter_btn_name' %></button>
  </div>
</div>