.cateForm {
  display: flex;
  width: 24vw;
  margin-inline: 38vw;
  margin-top: 5rem;
  align-content: center;
}

.category-name {
  width: 22vw;
}


.myIconSelect {
  display: flex;
  justify-content: space-around;
}




.header {
  display: flex;
  flex-shrink: 0;
  background-color: blue;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.back-img,
.hamburger-img {
  height: 1.2rem;
}

.header p {
  color: white;
}

.nav-logout-btn {
  border: none;
  background-color: red;
  color: white;
}