<div class="categories">

<%= render "layouts/header_hamburguer", title: 'CATEGORIES' %>

<div class="categories-list">
  <% @categories.includes([:user]).order('created_at DESC').each do |category| %>
    <% if can? :manage, category %>
        <%= render category %>
    <% end %>
  <% end %>
</div>

<button class="newCatBtn">
<%= link_to "New Category", new_category_path, class: 'newCatbtntext' %>
</button>

</div>


