<%= render "layouts/header_back_categories", title: 'CREATE CATEGORY' %>
<div class="cateForm">

<%# <%= render "layouts/header_back_categories", title: 'NEW CATEGORY' %> 


<%= render "form", category: @category %>

</div>

