<div class="expenses">
  
  <div class="expenses-list">
  <% @category.expenses.order('created_at DESC').each do |expense| %>
    <%= render expense %>
  <% end %>
  </div>
  <button class="newCatBtn">
  <%= link_to "New Expense", new_category_expense_path(@category), class: 'newCatbtntext' %>
  </button>
</div>

